:root {
    color-scheme: light dark;
}

/* color: light-dark(#ff0000, #6200ff); */

.section {
    .container {
        width: 100%;
        background-color: #69dd1c;
        padding: 10px 10px 10px 10px;
        text-align: center;
        
        img {
            height: 50px;
            display: flex;
        }
    }
}

@media (prefers-color-scheme: dark) {

    /* このなかにダークモード時のスタイルを記述します */
    body {
        background-color: #000;
        margin: 0 !important;
    }

}